.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                transform: scale(1.25);
                padding-top: 35%;
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
                font-size: 30px;
            }

            h3 {
                font-size: 30px;
            }
        }

        a {
            position: absolute;
            bottom: 10px;
            left: 375px;

            img {
                width: 30px;
            }
        }
    }
}